body {
  font-family: "Open Sans" !important;
  background: #1E1F1E !important;
}

.header-bar {
  background: #1E1F1E;
  height: 50px;
  color: #ffffff;
  padding-top: 15px;
  font-size: 20px;
}

.wrapper h1 {
  margin-top: 0px !important;
  font-size: 70px;
  color: #FFB80D;
}
.wrapper small {
  font-size: 16px;
  color: #f3f3f3;
}


.full-section {
  height: 600px;
  width: 100%;
  background: #0F0F0F;
}

#footer-bar {
  height: 100px;
  padding-top: 30px;
  text-align: center;
  color: #414240;

}
#footer-bar a {
  color: #4B4C49;
  transition-duration: 0.2s;
  font-weight: bold;
}
#footer-bar a:hover {
  color: #FFB80D;
  transition-duration: 0.2s;
}

.selector-bar {
  position: absolute;
  top: 195;
  width: 100%;
  text-align: center;
  height: 60px;
  background: rgba(0,0,0,0.6);
}
.selector-bar a {
  color: #876207;
}
.selector-bar a:hover {
  color: #876207;
}

.selector-bar .small-4 {
  height: 60px;
  padding-top: 15px;
  transition-duration: 0.5s;
}
.selector-bar .small-4.selected {
  background: rgba(0,0,0, 0.8);
  color: #FFB80D;
  border-bottom: 3px solid #FFB80D;
}
.selector-bar .small-4:hover {
  background: rgba(0,0,0, 0.8);
  color: #FFB80D;
}


#sidebar {
  position: absolute;
  top: 275px;
  right: 50px; 
  width: 300px;
  height: 500px;
  background: rgba(0,0,0, 0.6);

  color: #FFB80D;
  text-align: center;
}
#sidebar h2 {
  color: #FFB80D;
}
